SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=True
DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
ALLOWED_HOSTS=localhost,127.0.0.1
